[Unit]
Description=Teachers Personal Folders
After=network.target

[Mount]
What=lildevil.ausias.lan:/srv/userdata/usuarios/profesores
Where=/datos/.profesores
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
