Description=Jefatura
After=network.target

[Mount]
What=lildevil.ausias.lan:/srv/userdata/jefatura
Where=/datos/.jefatura
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
