[Unit]
Description=msdn
After=network.target

[Mount]
What=lildevil.ausias.lan:/srv/workdata/msdn
Where=/datos/msdn
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
